:root {
    --gray: #F2F2F2;
    --blue-light: #DEEBFF;
    --blue: #0065FC;
    --blue-hover: #0047b1;
}
* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
body {
    background-color: white;
    margin: 0em 112px 112px 112px;
}
a {
    text-decoration: none;
}
a.link {
    color: black;
    font-weight: 600;
    padding: 100px 0;
}
.logo {
    margin-top: 3em;
    width: 10em;
}
h1,h2,h3,h4,h5,h6 {
    margin: .5em 0;
}
h4,h5,h6 {
    color: gray;
    margin-bottom: .8em;
}
header {
    display: flex;
    align-content: flex-end;
    justify-content: space-between;
}
header ul {
    display: flex;
    margin: 0;
}
header ul li {
    list-style: none;
    margin: 0 2.5em 0 0;
    padding: 3.5em 2em 2.5em;
    transition: background .8s;
}
header ul li:hover {
    background-color: var(--blue-light);
}
header ul li a {
    color: #303030;
    font-weight: 600;
    text-decoration: none;
}
header ul li.active {
    border-top: 2px solid var(--blue);
}
header ul li.active a {
    color: var(--blue);
}
main {
    margin: 2em 0;
}
.input-group {
    display: flex;
    margin: 1em 0
}
.input-group i {
    background: var(--gray);
    padding: 14px;
    border-radius: 12px 0px 0px 12px;
}
.input-group input {
    border: 1px solid var(--gray);
    font-weight: 600;
    padding: 0em 1.2em;
}
.input-group button {
    background: var(--blue);
    color: white;
    border: none;
    border-radius: 0px 12px 12px 0px;
    font-weight: 600;
    padding: 0em 1em;
    transition: background .2s;
}
.input-group button:hover {
    background-color: var(--blue-hover);
}
.filter {
    display: flex;
    vertical-align: middle;
    align-items: center;
    margin-top: 52px;
}
.filter ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.filter ul li {
    display: flex;
    list-style: none;
    border: 1px solid var(--gray);
    border-radius: 30px;
    font-size: 14px;
    margin: 0 6px;
    height: 41.4px;
}
.filter ul li b {
    padding: 12px 16px 12px 12px;
    font-size: 15px;
}
.circle-icon {
    background: var(--blue-light);
    padding: 12px 4px 12px 4px;
    border-radius: 56px;
    width: 39px;
    text-align: center;
    font-size: 14px;
    height: 41.4px;
    color: var(--blue);
}
.circle-icon.inverted {
    background: white;
    color: var(--blue);
    border: 2px solid var(--gray);
    padding: 10px 0px;
}
.infos {
    display:flex;
    align-items: center;
    font-weight: normal;
    margin-top: 12px;
}
.infos .circle-icon {
    margin-right: 16px;
}
.grid { 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.grid .column.left {
    grid-column: 1 / span 3;
}
.grid .column.right {
    grid-column: 1 / span;
}
.card-section {
    background: var(--gray);
    padding: 22px 32px;
    border-radius: 26px;
}
.card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 58px;
    margin-top: 31px;
}

.card-item {
    background: white;
    flex: 0 0 230px;
    display: block;
    border-radius: 14px;
    box-shadow: 0px 0px 5px 0px rgb(219, 219, 219);
}
.card-item .head {
    width: 270px;
    height: 108px;
    border-radius: 14px 14px 0px 0px;
    border: 3px solid white;
    background-size: cover !important;
    background-position: center !important;
}
.card-item .title {
    font-weight: 600;
    font-size: 14px;
}
.card-item .subtitle {
    font-size: 12px;
    color: black;
}
.card-item .body {
    padding: 12px;
}
.card-group.inline {
    display: block;
}
.card-group.inline .card-item {
    display: flex;
    margin-bottom: 10px;
}
.card-group.inline .card-item .head{
    width: 125px;
    border-radius: 14px 0px 0px 14px;
    max-width: 125px;
    min-width: 125px;
}